<div class="top-info-bar">
  <div class="container">
    <div class="row">
      <a href="https://dijur.intranet.bb.com.br" class="navbar-brand">
        <img src="assets/img/bblogo_dijur.png" alt="Diretoria Jurídica">
      </a>
      <div class="d-xs-block d-sm-none col-xs-2 pt-2">
        <a href="#" title="Menu" >
          <fa-icon class="pr-2" [icon]="faPlusSquare" spin="" size="2x" style="color:white"></fa-icon>
        </a>
      </div>
      <div class="d-none d-sm-block pt-2 top-bar-right">
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
        <a href="#" title="Gestão" >
          <fa-icon class="pr-2" [icon]="faChartBar" spin="" size="2x" style="color:white"></fa-icon>
        </a>
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
        <fa-icon class="pr-2" [icon]="faSquare" spin="" size="2x" style="color:white"></fa-icon>
      </div>
    </div>
  </div>
</div>
